<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Raleway", sans-serif
  }
</style>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body class="w3-light-grey">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i
        class="fa fa-bars"></i> &nbsp;Menu</button>
    <span class="w3-bar-item w3-right">Logo</span>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>Mike</strong></span><br>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
        onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
      <a href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Overview</a>
      <a href="/mychart" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>&nbsp;
        Views</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>&nbsp; Traffic</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>&nbsp; Geo</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>&nbsp; Orders</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>&nbsp; News</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>&nbsp; General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>&nbsp; History</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a><br><br>
    </div>
  </nav>


  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
    title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:200px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="w3-row-padding w3-margin-bottom" style="overflow:scroll;">
      <h3>하하 다 비웠지롱</h3>
      <form id=line2check>
        <input type="checkbox" id="시청" name="시청" value="시청">
        <label for="시청">시청</label>
        <input type="checkbox" id="을지로입구" name="을지로입구" value="을지로입구">
        <label for="을지로입구">을지로입구</label>
        <input type="checkbox" id="을지로3가" name="을지로3가" value="을지로3가">
        <label for="을지로3가">을지로3가</label>
        <input type="checkbox" id="을지로4가" name="을지로4가" value="을지로4가">
        <label for="을지로4가">을지로4가</label>
        <input type="checkbox" id="동대문역사문화공원(DDP)" name="동대문역사문화공원(DDP)" value="동대문역사문화공원(DDP)">
        <label for="동대문역사문화공원(DDP)">동대문역사문화공원(DDP)</label>
        <input type="checkbox" id="신당" name="신당" value="신당">
        <label for="신당">신당</label>
        <input type="checkbox" id="상왕십리" name="상왕십리" value="상왕십리">
        <label for="상왕십리">상왕십리</label>
        <input type="checkbox" id="왕십리(성동구청)" name="왕십리(성동구청)" value="왕십리(성동구청)">
        <label for="왕십리(성동구청)">왕십리(성동구청)</label>
        <input type="checkbox" id="한양대" name="한양대" value="한양대">
        <label for="한양대">한양대</label>
        <input type="checkbox" id="뚝섬" name="뚝섬" value="뚝섬">
        <label for="뚝섬">뚝섬</label>
        <input type="checkbox" id="성수" name="성수" value="성수">
        <label for="성수">성수</label>
        <input type="checkbox" id="건대입구" name="건대입구" value="건대입구">
        <label for="건대입구">건대입구</label>
        <input type="checkbox" id="구의(광진구청)" name="구의(광진구청)" value="구의(광진구청)">
        <label for="구의(광진구청)">구의(광진구청)</label>
        <input type="checkbox" id="강변(동서울터미널)" name="강변(동서울터미널)" value="강변(동서울터미널)">
        <label for="강변(동서울터미널)">강변(동서울터미널)</label>
        <input type="checkbox" id="잠실나루" name="잠실나루" value="잠실나루">
        <label for="잠실나루">잠실나루</label>
        <input type="checkbox" id="잠실(송파구청)" name="잠실(송파구청)" value="잠실(송파구청)">
        <label for="잠실(송파구청)">잠실(송파구청)</label>
        <input type="checkbox" id="잠실새내" name="잠실새내" value="잠실새내">
        <label for="잠실새내">잠실새내</label>
        <input type="checkbox" id="종합운동장" name="종합운동장" value="종합운동장">
        <label for="종합운동장">종합운동장</label>
        <input type="checkbox" id="삼성(무역센터)" name="삼성(무역센터)" value="삼성(무역센터)">
        <label for="삼성(무역센터)">삼성(무역센터)</label>
        <input type="checkbox" id="선릉" name="선릉" value="선릉">
        <label for="선릉">선릉</label>
        <input type="checkbox" id="역삼" name="역삼" value="역삼">
        <label for="역삼">역삼</label>
        <input type="checkbox" id="강남" name="강남" value="강남">
        <label for="강남">강남</label>
        <input type="checkbox" id="교대(법원.검찰청)" name="교대(법원.검찰청)" value="교대(법원.검찰청)">
        <label for="교대(법원.검찰청)">교대(법원.검찰청)</label>
        <input type="checkbox" id="서초" name="서초" value="서초">
        <label for="서초">서초</label>
        <input type="checkbox" id="방배" name="방배" value="방배">
        <label for="방배">방배</label>
        <input type="checkbox" id="사당" name="사당" value="사당">
        <label for="사당">사당</label>
        <input type="checkbox" id="낙성대(강감찬)" name="낙성대(강감찬)" value="낙성대(강감찬)">
        <label for="낙성대(강감찬)">낙성대(강감찬)</label>
        <input type="checkbox" id="서울대입구(관악구청)" name="서울대입구(관악구청)" value="서울대입구(관악구청)">
        <label for="서울대입구(관악구청)">서울대입구(관악구청)</label>
        <input type="checkbox" id="봉천" name="봉천" value="봉천">
        <label for="봉천">봉천</label>
        <input type="checkbox" id="신림" name="신림" value="신림">
        <label for="신림">신림</label>
        <input type="checkbox" id="신대방" name="신대방" value="신대방">
        <label for="신대방">신대방</label>
        <input type="checkbox" id="구로디지털단지" name="구로디지털단지" value="구로디지털단지">
        <label for="구로디지털단지">구로디지털단지</label>
        <input type="checkbox" id="대림(구로구청)" name="대림(구로구청)" value="대림(구로구청)">
        <label for="대림(구로구청)">대림(구로구청)</label>
        <input type="checkbox" id="신도림" name="신도림" value="신도림">
        <label for="신도림">신도림</label>
        <input type="checkbox" id="문래" name="문래" value="문래">
        <label for="문래">문래</label>
        <input type="checkbox" id="영등포구청" name="영등포구청" value="영등포구청">
        <label for="영등포구청">영등포구청</label>
        <input type="checkbox" id="당산" name="당산" value="당산">
        <label for="당산">당산</label>
        <input type="checkbox" id="합정" name="합정" value="합정">
        <label for="합정">합정</label>
        <input type="checkbox" id="홍대입구" name="홍대입구" value="홍대입구">
        <label for="홍대입구">홍대입구</label>
        <input type="checkbox" id="신촌" name="신촌" value="신촌">
        <label for="신촌">신촌</label>
        <input type="checkbox" id="이대" name="이대" value="이대">
        <label for="이대">이대</label>
        <input type="checkbox" id="아현" name="아현" value="아현">
        <label for="아현">아현</label>
        <input type="checkbox" id="충정로(경기대입구)" name="충정로(경기대입구)" value="충정로(경기대입구)">
        <label for="충정로(경기대입구)">충정로(경기대입구)</label>
        <input type="checkbox" id="용답" name="용답" value="용답">
        <label for="용답">용답</label>
        <input type="checkbox" id="신답" name="신답" value="신답">
        <label for="신답">신답</label>
        <input type="checkbox" id="신설동" name="신설동" value="신설동">
        <label for="신설동">신설동</label>
        <input type="checkbox" id="도림천" name="도림천" value="도림천">
        <label for="도림천">도림천</label>
        <input type="checkbox" id="양천구청" name="양천구청" value="양천구청">
        <label for="양천구청">양천구청</label>
        <input type="checkbox" id="신정네거리" name="신정네거리" value="신정네거리">
        <label for="신정네거리">신정네거리</label>
        <input type="checkbox" id="용두(동대문구청)" name="용두(동대문구청)" value="용두(동대문구청)">
        <label for="용두(동대문구청)">용두(동대문구청)</label>
      </form>
      <button id="line2" name="line2" onclick="chartline2()">표그리기</button>
      <div id="line2chart" name="line2chart">

      </div>
    </div>

    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <h3>이미지있던곳</h3>
        </div>
        <div class="w3-twothird">
          <h5>Feeds</h5>
          <table class="w3-table w3-striped w3-white">
            <tr>
              <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
              <td>New record, over 90 views.</td>
              <td><i>10 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
              <td>Database error.</td>
              <td><i>15 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
              <td>New record, over 40 users.</td>
              <td><i>17 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
              <td>New comments.</td>
              <td><i>25 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-bookmark w3-text-blue w3-large"></i></td>
              <td>Check transactions.</td>
              <td><i>28 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
              <td>CPU overload.</td>
              <td><i>35 mins</i></td>
            </tr>
            <tr>
              <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
              <td>New shares.</td>
              <td><i>39 mins</i></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>General Stats</h5>
      <!-- <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div> -->
    </div>
    <hr>

    <div class="w3-container">
      <h5>Countries</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <!-- <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr> -->
      </table><br>
      <!-- <button class="w3-button w3-dark-grey">More Countries &nbsp;<i class="fa fa-arrow-right"></i></button> -->
    </div>
    <hr>
    <div class="w3-container">
      <h5>Recent Users</h5>
      <!-- <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul> -->
    </div>
    <hr>

    <div class="w3-container">
      <h5>Recent Comments</h5>
      <!-- <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div> -->
    </div>

    <div class="w3-row">
      <!-- <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div> -->
    </div>
    <br>
    <div class="w3-container w3-dark-grey w3-padding-32">
      <!-- <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div> -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
      <h4>FOOTER</h4>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

    <!-- End page content -->
  </div>

  <script>
    // google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.load('current', {'packages':['line']});

    function chartline2() {
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          data = this.responseText;
          data = JSON.parse(data)
          console.log(data)
          document.getElementById("line2chart").innerHTML = data;
          chartdata = []
          for (i = 0; i < data.length; i++) {

            document.getElementById("line2chart").innerHTML += data[i].시청 + "<br>"

          };

          var chartdata = new google.visualization.DataTable();
          chartdata.addColumn('number', 'Day');
          chartdata.addColumn('number', 'Guardians of the Galaxy');
          chartdata.addColumn('number', 'The Avengers');
          chartdata.addColumn('number', 'Transformers: Age of Extinction');

          chartdata.addRows([
            [1, 37.8, 80.8, 41.8],
            [2, 30.9, 69.5, 32.4],
            [3, 25.4, 57, 25.7],
            [4, 11.7, 18.8, 10.5],
            [5, 11.9, 17.6, 10.4],
            [6, 8.8, 13.6, 7.7],
            [7, 7.6, 12.3, 9.6],
            [8, 12.3, 29.2, 10.6],
            [9, 16.9, 42.9, 14.8],
            [10, 12.8, 30.9, 11.6],
            [11, 5.3, 7.9, 4.7],
            [12, 6.6, 8.4, 5.2],
            [13, 4.8, 6.3, 3.6],
            [14, 4.2, 6.2, 3.4]
          ]);

          var options = {
            chart: {
              title: 'Box Office Earnings in First Two Weeks of Opening',
              subtitle: 'in millions of dollars (USD)'
            },
            width: 900,
            height: 500
          };

          var chart = new google.charts.Line(document.getElementById('line2chart'));
          chart.draw(chartdata, options);

        }

      }
      xhttp.open("GET", "/showchart");
      xhttp.send();
    }


    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
      } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
      overlayBg.style.display = "none";
    }


  </script>

</body>

</html>